<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field form-group">
    <%= f.label :"名前" ,class: "center-block" %>
    <%= f.text_field :name , autofocus: true,class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :"誕生日",class: "center-block" %>
    <%= f.date_field :birth,value: Time.now.strftime("%Y-%m-%d") ,class: "form-control" %>
  </div>
  <div class="center-block">
    <%= f.label :"画像"  ,class: "center-block"%>
  </div>
  <div><%= f.file_field :image  ,class: "center-block"%></div>
  <%#= form.hidden_field :id %>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "members/shared/links" %>
