<h1>編集</h1>

<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "個のエラーがあります、") %>保存されていません。</h2>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="groupbox">
  <%= form_with(model: @user, local: true) do |f| %>

  <div class="field form-group">
    <%= f.label :name ,class: "center-block" %>
    <%= f.text_field :name ,class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :email ,class: "center-block" %>
    <%= f.text_field :email ,class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :birth ,class: "center-block" %>
    <%= f.text_field :birth ,class: "form-control" %>
  </div>
  <div class="field form-group">
     <%= f.label :password ,class: "center-block" %>
     <%= f.password_field :password ,class: "form-control" %>
   </div>

   <div class="field form-group">
     <%= f.label :password_confirmation ,class: "center-block" %>
     <%= f.password_field :password_confirmation ,class: "form-control" %>
   </div>



  <%= f.submit "編集を確定する" ,class: "center-block" %>
  <% end %>
</div>
