<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Image:</strong>
  <%= File.basename(@user.image) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @user.birth %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |

<%= link_to '進む', root_path %>
