<%= form_with(model: @gmap, local: true, html: {multipart: true} ,url: choose_new_or_edit ) do |form| %>
<% if @gmap.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@gmap.errors.count, "error") %>
    prohibited this gmap from being saved:</h2>
  <ul>
    <% @gmap.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="field">
    <%= form.hidden_field :latitude, id: :gmap_latitude %>
  </div>
  <div class="field">
    <%= form.hidden_field :longitude, id: :gmap_longitude %>
  </div>
  <div class="field form-group">
    <%= form.label :"タイトル" %>
    <%= form.text_field :title,id: :gmap_title ,class: "form-control"%>
  </div>
  <div class="field form-group">
    <%= form.label :"コメント" %><br>
    <%= form.text_area :coment, id: :gmap_coment ,size: "40x4",class: "form-control"%>
  </div>
  <div class="field form-group">
    <%= form.label :"合言葉" %>
    <%= form.text_field :magic_word,id: :gmap_magic ,class: "form-control"%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
