<h1>New Gmap</h1>
<!-- <script src = giomap.js ></script> -->


 <script>
    // Geolocation APIに対応している
    if (navigator.geolocation) {
      alert("この端末では位置情報が取得できます");
      navigator.geolocation.getCurrentPosition((position)=>{
        document.getElementById('gmap_latitude').value = position.coords.latitude;
        document.getElementById('gmap_longitude').value = position.coords.longitude;
}

),
     function(error) {
          switch(error.code) {
            case 1: //PERMISSION_DENIED
              alert("位置情報の利用が許可されていません");
              break;
            case 2: //POSITION_UNAVAILABLE
              alert("現在位置が取得できませんでした");
              break;
            case 3: //TIMEOUT
              alert("タイムアウトになりました");
              break;
            default:
              alert("その他のエラー(エラーコード:"+error.code+")");
              break;
          }
        }


      }else{
      alert("この端末では位置情報が取得できません");
    }

  </script>


<!-- <button onclick="getPosition();">位置情報を取得する</button>
<input type="button" value="提出" id="button1" onClick="_submit()" > -->




<%= form_with(model: @gmap=Gmap.new, local: true, :html => {multipart: true}) do |form| %>
<!-- <%#= form_with(model: @gmap=Gmap.new, local: true, :html => {multipart: true} ,url: choose_new_or_edit) do |form| %> -->
<% if @gmap.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@gmap.errors.count, "error") %>
    Gmapsは保存されていません:</h2>

  <ul>
    <% @gmap.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
 </ul>
 <% end %>

<div class="field">
  <%#= form.label :latitude %>
  <%= form.hidden_field :latitude, id: :gmap_latitude %>
</div>

<div class="field">
  <%#= form.label :longitude %>
  <%= form.hidden_field :longitude, id: :gmap_longitude %>
</div>

<div class="field form-group">
    <%= form.label :"タイトル" %>
    <%= form.text_field :title,id: :gmap_title ,class: "form-control"%>
</div>


  <div class="field form-group">
    <%= form.label :"コメント" %><br>
    <%= form.text_area :coment, id: :gmap_coment ,size: "40x4",class: "form-control"%>
  </div>
  <div id="magic_w" class="field form-group">
      <%= form.label :"合言葉" %>
      <%= form.text_field :magic_word,id: :magic_word ,class: "form-control"%>
  </div>

  <div class="field form-group">
      <%= form.label :"マーカーに載せる画像" %>
      <%= form.file_field :image,id: :image ,class: "form-control"%>
  </div>
<div class="actions">
  <%= form.submit %>
</div>

<% end %>
<div class="form-group">
  <input type="checkbox" class="magic_c" name="magic_word_set" onclick="toggle('#magic_w', this)">全体に公開する
</div>

<%= link_to 'Back', root_path %>
