
<p>
  <strong>緯度:</strong>
  <%= @gmap.latitude %>
</p>

<p>
  <strong>経度:</strong>
  <%= @gmap.longitude %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @gmap.coment %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @gmap.title %>
</p>

<%= link_to '編集する', edit_gmap_path(@gmap) %> |
<%= link_to '戻る', gmaps_path %>
