<aside>
  <article>
    <% if member_signed_in? %>
      <h1 class="text-center">あなたの画像</h1>
      <br>
      <div class="text-center"><%= image_tag current_member.image ,class: :"img-rounded" %></div>
      <br>
      <div class="text-center"><%= current_member.name %></div>
      <br>
      <h1 class="text-center">絞り込み検索</h1>

      <%= form_for(@member = Member.new, url: search_members_path,html: {method: 'GET',id: 'form1'}) do |f| %>
        <!-- <div>
          <p>
            <label class="center-block">名前</label>
          </p>
        </div> -->
        <!-- <p>
          <input class="center-block" type="text" name="name" required="required"><br>
        </p> -->
        <div>
          <%= f.label :"名前" ,class: "center-block" %>
          <%= f.text_field :name , autofocus: true,class: "form-control" %>
        </div>
        <!-- <div>
          <p>
            <label class="center-block">生年月日</label>
          </p>
        </div> -->
        <%= f.hidden_field :public , :value => "public" %>
        <div class="text-center">
            <%= f.label :"誕生日" %>
            <%= f.date_select(
                    :birth,
                    start_year: 1900,
                    end_year:   (Time.now.year),
                    default:    Date.new(1980, 1, 1)) %>
        </div>
        <div >
          <p>
            <%= f.submit '検索する', class: "center-block" %>
          </p>
        </div>
      <% end %>



    <%= form_for(@member = Member.new, url: search_members_path,html: {method: 'GET',id: 'form2'}) do |f| %>
    <div>
      <%= f.label :"メールアドレス" ,class: "center-block" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
      <%= f.hidden_field :private , :value => "private" %>
    <div>
      <%= fields_for @member.gmaps do |fg| %>
      <%= fg.label :"合言葉" ,class: "center-block" %>
      <%= fg.text_field :magic_word, class: "form-control" %>
      <% end %>
    </div>
    <div>
      <p><%= f.submit '検索する', class: "center-block" %></p>
    </div>
   <% end %>


      <%#= form_tag({controller: "/members", action: "search", remote: true} ,{method: "get", id: "form2"}) do %>
        <!-- <div>
          <p>
            <label class="center-block">メールアドレス</label>
          </p>
        </div>
        <div>
          <p>
            <input class="center-block" type="email" name="email" required="required"><br>
          </p>
        </div>
        <div class="center-block">
          <p>
            <label class="center-block">合言葉</label>
          </p>
        </div>
        <div>
          <p>
            <input class="center-block" type="text" name="magic_word" required="required">
          </p>
        </div>
        <div>
          <p><%#= submit_tag '検索する', name: 'private', class: "center" %></p>
        </div> -->
     <%# end %>
    <div class="form-group text-center">
      <div class="radio">
        <input type="radio" id="radio1" name="radio_serach" value="public" checked="checked">
        <strong>全体に公開されているものを検索</strong>
      </div>
      <div class="radio">
        <input type="radio" id="radio2" name="radio_serach" value="private">
        <strong>プライベートのものを検索</strong>
      </div>
    </div>
  <% else %>
    <div>
      <strong><%= link_to "最初にお読みください",{controller: "/members", action: "downloadpdf"} %></strong>
    </div>
    <div class="box22">
      <i class="fa fa-heart faa-pulse animated fa-example">
        <p>
          このサイトはGoogleMapを使って現在地にマーカーを立てられます。マーカーには写真とタイトルとコメントが載せられるよ<br>
          ログインすればプライベートなマーカーはメールアドレスと合言葉で、公開のもの氏名と年齢で検索できます。<br>
          自分以外の記事は削除できないよ楽しんでいってね！<br>
          ちなみにマーカーは作成後60日で自動的に削除されます。
        </p>
      </i>
    </div>
  <% end %>
</article>
</aside>
