<aside>
  <article class="">
    <% if logged_in? %>
    <h1 class="text-center">あなたの画像</h1>
    <br>
    <div class="text-center" ><%= image_tag current_user.image ,class: :"img-rounded" %></div>
    <br>

<div class="text-center"><%= current_user.name %></div>

    <br>
    <%= form_with(model: current_user, local: true) do |form| %>

    <% if current_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_user.errors.count, "個エラーがあります,") %>保存されていません。</h2>

      <ul>
        <% current_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>

    <% end %>
    <br>
    <div class="text-center">
      <%= form.label :"画像" %>
    </div>
      <div class="text-center"><%= form.file_field :image %></div>
      <%= form.hidden_field :id %>


    <div class="actions text-center">
      <%= form.submit '保存する' %>
    </div>
    <% end %>

    <h1 class="text-center">絞り込み検索</h1>
    <!--  検索拡張機能  -->

    <%= form_tag({controller: "users", action: "search",remote:true} ,{method: "get",id:"form1"}) do %>
<div class="text-center"><p>
      <label>名前</label>
    </p></div>
    <p class="text-center" ><input type="text" name="name" required><br></p>
    <div class="text-center"><p>
      <label>生年月日</label>
    </p></div>
    <div class="text-center"><p><input  class="text-center"type="date" name="birth" required><br></p></div>
    <div class="text-center"><p class="text-center"><%= submit_tag '検索する', :name => 'public' %></p></div>
    <% end %>

    <%= form_tag({controller: "users", action: "search",remote:true} ,{method: "get",id:"form2"}) do %>
    <div class="text-center"><p>
      <label>メールアドレス</label>
    </p></div>
    <div class="text-center"><p><input type="email" name="email" required><br></p></div>
    <div class="text-center"><p>
      <label>合言葉</label>
    </p></div>
  <div class="text-center"><p><input type="text" name="magic_word" required></p></div>
    <div class="text-center"><p><%= submit_tag '検索する', :name => 'private' %></p></div>
    <% end %>
    <div class="form-group text-center">
    <div class="radio">
      <input type="radio" id="radio1" name="radio_serach" value="public" checked >全体に公開されているものを検索
    </div>
    <div class="radio">
      <input type="radio" id="radio2"name="radio_serach" value="private">プライベートのものを検索
    </div>
</div>
  <% end %>
  </article>
</aside>
