<div class="container-fluid">
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample3">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Gmaps",root_path, class: "navbar-brand"%>
        </div>
        <div class="collapse navbar-collapse" id="navbarEexample3">
          <ul class="nav navbar-nav navbar-right">
            <% if member_signed_in? %>
            <li class="pull-right"><%= link_to "ログアウト", destroy_member_session_path, method: :delete if member_signed_in?%></li>
            <li class="pull-right"><%= link_to "プロフィール", member_path(current_member.id) if member_signed_in?%></li>
          <% else %>
            <li class="pull-right"><%= link_to "ログイン", new_member_session_path  unless member_signed_in?%></li>
            <li class="pull-right"><%= link_to "新規登録", new_member_registration_path unless member_signed_in?%></li>
            <% end %>
          </ul>
        </nav>
      </header>
