<!DOCTYPE html>
<html>
  <head>
    <title>gmaps</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- <script src="https://maps.google.com/maps/api/js?v3&key=ENV['GOOGLE_API_KEY']=initMap" async defer></script> -->
    <script src="https://maps.google.com/maps/api/js?v3&key=AIzaSyBAWgF_RcfttdtN6-Q4RX9OsjiQ2hD5n98&callback=initMap" async defer></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <%=render 'layouts/header'%>

    <div class="row">

      <div class="box col-xs-12  col-md-8 text-center">
        <%= yield %>
      </div>

      <div class="box col-xs-12 col-md-4 text-center">
        <%= render 'layouts/aside'%>
      </div>

      <div class="col-xs-12 col-md-12 col-lg-12">
        <footer class="footer">
          <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
          </div>
        </footer>
      </div>
    </div>
  </div>
  <!-- flashにメッセージがある時 -->
  <% unless flash.empty? %>
  <script type="text/javascript">
    <% flash.each do |f| %>
    <% type = f[0].to_s.gsub('danger','error').gsub('alert','error').gsub('notice','info') %>
    toastr['<%= type %>']('<%= f[1] %>');
    <% end %>
  </script>
  <% end %>
</body>
</html>
