<p id="notice"><%= notice %></p>

<p>
  <strong>メールアドレス:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>画像:</strong>
  <%= File.basename(@member.image_url) %>
</p>

<p>
  <strong>名前:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>生年月日:</strong>
  <%= @member.birth %>
</p>

<%= link_to '編集する', edit_member_registration_path(@member) %> |

<%= link_to '進む', root_path %>
